.button {
    padding: 10px;
    cursor: pointer;
    background-color: purple;
    color: white;
    width: 140px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

.button:hover {
    background-color: darkblue;
}

.input-container, .button-container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 22px;
}

.paragraph-container {
    padding: 10px;
    border: 1px solid #CCC;
}

.image-container img {
    width: 50%;
    height: auto;
}